/* =================================
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  background-color: dimgray;
  font-family: 'Signika', sans-serif;
  color: #fff;
  line-height: 1.6;
  font-size: 0.95em;
  height: 100%;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-size: 1em;
  padding: 1.5em 0;
  font-weight: bolder;
}

p {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:visited {
 color: #fff;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  padding-left: 0;
}

.main-nav li {
  list-style-type: none;
  border: 1px solid white;
  font-weight: bolder;
  padding: 0.5em 0;
  margin: 4px 0;
}

.banner {
  padding-top: 1em;
}

/* ---- Layout Containers ---- */

.wrapper {
  background-color: #fff;
  width: 100%;
}

/* ---- Layout Styles ---- */

.profile-img {
  width: 70%;
}

.intro {
  color: dodgerblue;
}

.portfolio {
    color: rgb(80,80,80);
}

.imgs {
  width: 100%;
}

.col {
  color: rgb(80,80,80);
}

.caculator {
  margin-bottom: 3em;
}

.contact {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}


.address {
  color: orange;
  list-style-type: none;
  padding-left: 0;
  font-weight: lighter;
}

/* ---- Footer ---- */

.main-footer {
  border-top: 1px solid lightgrey;
}

footer,
.container {
padding: 2px 5px 5px;
}

.main-footer h4 {
  float: left;
  height: 12px;
  line-height: 12px;
}

.footer-nav {
  text-align: right;
  list-style-type: none;
}

.top,
.footer-nav li:last-child {
  margin-right: 0;
}

.full {
  display: none;
}

/* ---- Clearfix ---- */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* =================================
  Media Queries
==================================== */

/* --------- TABLETS ----------- */

@media (min-width: 768px) {

/*----- Navigation -------*/
  .main-nav li {
    display: inline-block;
    background: none;
    padding: 0 1em;
    margin: 0 1em;
  }

  .profile-img {
    float: right;
    width: 40%;
  }
  .intro {
    float: left;
    font-size: 18px;
    width: 60%;
    text-align: left;
  }

  .intro,
  .profile-img {
    margin: 1em 0 3em;
  }

/*----- Floated Columns ------*/

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .col {
    width: 50%;
    float: left;
    padding: 0 0.5em;
  }

/*-----  Address -------*/

  .address,
  .contact p {
    font-size: 20px;
    padding: 0 3em;
  }

/*----- Footer -------*/

.footer-nav {
  list-style: none;
  padding-left: 0;
  padding-bottom: 50px;
}

.top {
  display: none;
}

.full {
  display: inline-block;
  margin-right: 30px;
}

.main-footer {
  border: none;
}

.wrap {
  border-top: 1px solid lightgrey;
}

}

/* -------- DESKTOP -------- */

@media (min-width: 1024px) {

/*----- Navigation -------*/

.name {
  float: left;
}

.main-nav {
  float: right;
  padding-top: 15px;
}

.intro {
  font-size: 1.5em;
  width: 55%;
  margin-top: 15px;
}

.banner {
  padding-bottom: 1em;
}

/*----- Floated Columns ------*/

.col {
  width: 33.3%;
  margin-top: 1.5em;
}

.card {
  width: 95%;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}


/*-----  Address -------*/

.contact {
  width: 70%;
}

.contact p,
.address {
  font-size: 1.5em;
}

/*----- Footer -------*/

.footer-nav {
  padding-bottom: 0;
}

}
